{% load static from staticfiles %}
<!-- Navigation -->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AngoApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="">Home</a></li>
        <li><a href="{% url 'about' %}" class="page-scroll">Sobre Nós</a></li>
        <li><a href="{% url 'process' %}" class="page-scroll">Processo</a></li>
        <li><a href="{% url 'services' %}" class="page-scroll">Serviços</a></li>
        <li><a href="{% url 'portfolio' %}" class="page-scroll">Portfólio</a></li>
      </ul>

        <form action="/p/" method="post" class="form-inline">
          {% csrf_token %}
          <input type="text" name="keyword" class="form-control">
        </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>