{% extends 'masters/master.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="about-us" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">About Us</h2>
					<div class="row">
                        <div class="col-md-12  to-animate" height="150px" style="background-image: url({% static 'desenvolvimento.jpg' %}) " >
                            <h3>AngoApp é uma empresa que se foca em reforçar o sector tecnológico em Angola,
                                África. AngoApp tem como suas funções centrais a criação de aplicativos móveis para a educação e
                                entretenimento da população angolana assim como a automação de serviços das empresas nacionais.</h3>
                        </div>
					</div>
				</div>
			</div>

			<div class="container" id="team">
				<div class="col-md-12 section-heading text-center to-animate">
                <h2>Team</h2>
				</div>
				<div class="row">
                    {% for person in people %}
                    <div class="col-md-4 to-animate">
                        <div class="person">
                            <img src="{{person.photo.url}}" class="img-responsive" alt="{{ person.name }}">
                            <h2 class="name">{{person.name}}</h2>
                            <div class="position">{{person.role}}</div>
                            <ul class="social social-circle">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                                <li><a href="#"><i class="icon-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}


