


{% extends 'masters/master.html' %}
{% load static from staticfiles %}



{% block content %}
{% if page == 'portfolio_home' %}
<!-- Portfolio Section -->
{#    #}
<div id="features" class="bg-white">
    <div class="container">
        <div class="section-heading text-left center">
            <h2 class="text-center" >Portfólio</h2>
        </div>

        <div id="lightbox" class="row">
          {% for project in projects %}
            <div class="col-sm-6 col-md-4 col-lg-4 branding" >
                <div class="portfolio-item">
                    <div class="hover-bg" >
                        <a href="{% url 'portfolio-detail' project.slug %}">
                        {% if project.artwork %}
                        <img src="{{project.artwork.url}}" class="img-responsive" alt="Image of {{ project.title }}">
                        {% endif %}
                        </a>
                        <div class="portfolio-info">
                            <a href="{% url 'portfolio-detail' project.slug %}">
                                <p class="portfolio-info-title" >{{ project.title }}</p>
                            </a>
                            <p>{{ project.publishedDate }}</p>
                        </div>

                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endif %}


{% if page == 'portfolio_detail' %}
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div style="background-image: url('{{artwork}}');"></div>
    </div>


    <div class="container">

        <h1 class="text-center bottom-40">{{ title }}</h1>
            <p> {{ description }}</p>
            <h3> Data de Publicação: {{ publishedDate }}</h3>
            <a href="{{link }}" target="_blank"><img src="{% static "img/playstore.png" %}" width="200" height="80"> </a>
            {% if photos %}
                <div class="row">
                {% for i in photos %}
                    <div class="col-md-4 bottom-40">
                    <img class="img-responsive" src="{{ i.photo.url }}" alt="{{ title }}">
                    </div>

                {% endfor %}
            {% endif %}

                </div>

    </div>
{% endif %}

{% endblock %}