{% extends 'masters/master.html' %}

{% load static from staticfiles %}

{% block content %}

<style>
      #tf-menu.navbar-default{
            background: #333333;
     }
        body{

            background: white;
            color: #333333;

        }
</style>


    	<div id="press" data-section="press">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-press-1">Our Process</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<!-- Press Item -->
					<div class="press-item to-animate">
						<div class="press-img" style="background-image: url({% static 'desenvolvimento.jpg' %})">
						</div>
						<div class="process-text">
							<h3 class="h2 press-title">Análise do aplicativo em causa <span class="border"></span></h3>
							<p>Nesta fase analisamos o aplicativo de uma forma geral. Verificamos se o aplicativo vai de encontro com
                                os padrões morais da sociedade e da AngoApp. Também, analisamos quais são os aplicativos que já
                                foram construídos com um objetivo similar e estudamos os aplicativos concorrentes para determinar
                                as melhores características para um aplicativo inovador. Em alguns casos, inquéritos poderão ser conduzidos
                                para se saber com mais precisão o que é que o público gostaria de consumir.</p>

						</div>
					</div>
					<!-- Press Item -->
				</div>
				<div class="col-md-4">
					<!-- Press Item -->
					<div class="press-item to-animate">
						<div class="press-img" style="background-image: url({% static 'desenvolvimento.jpg' %})">


						</div>
						<div class="process-text">


							<h3 class="h2 press-title">Protótipo do Aplicativo <span class="border"></span></h3>
							<p>Nesta fase determinamos a experiência de usuário que queremos construir. Construímos um
                                mapa de telas do aplicativo e sistematizamos o funcionamento para melhor fluidez.</p>

						</div>
					</div>
					<!-- Press Item -->
				</div>
				<div class="col-md-4">
					<!-- Press Item -->
					<div class="press-item to-animate">
						<div class="press-img" style="background-image: url({% static 'desenvolvimento.jpg' %});">
						</div>
						<div class="process-text">
							<h3 class="h2 press-title">Design do Aplicativo <span class="border"></span></h3>
							<p>Nessa fase os nossos designers estudam o público alvo e a cultura da empresa
                                (para o caso de empresas) para desenhar um aplicativo que seja cativante para
                                os usuários. Estamos num mundo muito visual então está é uma fase em que precisa-se
                                de trabalhar com alguma cautela.</p>

						</div>
					</div>
					<!-- Press Item -->
				</div>
				<div class="col-md-4">
					<!-- Press Item -->
					<div class="press-item to-animate">
						<div class="press-img" style="background-image: url({% static 'desenvolvimento.jpg' %});">
						</div>
						<div class="process-text">
							<h3 class="h2 press-title">Desenvolvimento do Aplicativo <span class="border"></span></h3>
							<p>Os aplicativos começam a ser construídos para funcionamento efectivo nesta fase.
                                Os programadores criam dividem tarefas para a criação de algoritmos que tornem
                                o aplicativo responsivo de usar e preparado para qualquer tipo de adição ou actualização.</p>
						</div>
					</div>
					<!-- Press Item -->
				</div>
				<div class="col-md-4">
					<!-- Press Item -->
					<div class="press-item to-animate">
						<div class="press-img" style="background-image: url({% static 'desenvolvimento.jpg' %});">
						</div>
						<div class="process-text">
							<h3 class="h2 press-title">Testes do Aplicativo <span class="border"></span></h3>
							<p>Depois de um trabalho bem elaborado nos passos acima, testamos o aplicativo
                                para corrigir erros menores ou realces de última hora. Dependentemente do aplicativo,
                                os testes podem ser conduzidos pela AngoApp staff, colaboradores, e/ou uma porção do
                                público alvo antes do aplicativo estar disponível para o mundo.</p>
						</div>
					</div>
					<!-- Press Item -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}


