{% extends 'masters/master.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="press" data-section="press">
<div class="container">

    <ul class="nav nav-tabs">
        <li role="presentation" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" class="active" aria-selected="true">
            <a href="#v-pills-home">Análise do aplicativo em causa</a>
        </li>
        <li role="presentation" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" aria-selected="false">
            <a href="#v-pills-profile">Protótipo do Aplicativo</a>
        </li>
        <li role="presentation" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" aria-selected="false">
            <a href="#v-pills-messages">Design do Aplicativo</a>
        </li>
        <li role="presentation" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" aria-selected="false">
            <a href="#v-pills-settings">Desenvolvimento do Aplicativo</a>
        </li>
        <li role="presentation" id="v-pills-p5-tab" data-toggle="pill" href="#v-pills-p5" aria-selected="false">
            <a href="#v-pills-p5">Testes do Aplicativo</a>
        </li>
    </ul>

    <div class="tab-content " id="v-pills-tabContent">
        <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-home">
                  <div class="item col-md-6">
                      <h3 class="h2 press-title">Análise do aplicativo em causa
                          <span class="border"></span>
                      </h3>
                      <p>
                        Nesta fase analisamos o aplicativo de uma forma geral. É feito um estudo de mercado para sabermos quais as melhores características de um aplicativo inovador.
						Em alguns casos, inquéritos poderão ser conduzidos para se saber com mais precisão o que é que o público alvo gostaria de consumir.
                      </p>
                  </div>

                  {% comment %}
                      LEO: I'd consider changing the alt tag to something more
                      relevant to the image being displayed. This also applies to other img elements.
                  {% endcomment %}
            <img class="item col-md-6 " src='{% static "img/IMD2.png" %}' alt="Smiley face">
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-profile">
            <img class="item col-md-6 " src='{% static "img/IMD2.png" %}' alt="Smiley face">
                  <div class="item col-md-6">
                      <h3 class="h2 press-title">Protótipo do Aplicativo
                          <span class="border"></span>
                      </h3>
                      <p>Nesta fase analisamos o aplicativo de uma forma geral. É feito um estudo de mercado para sabermos quais as melhores características de um aplicativo inovador.
					  Em alguns casos, inquéritos poderão ser conduzidos para se saber com mais precisão o que é que o público alvo gostaria de consumir.
                      </p>
                  </div>
        </div>

        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-messages">
          <div class="item col-md-6">
              <h3 class="h2 press-title">Design do Aplicativo
                  <span class="border"></span>
              </h3>
              <p>Nesta fase analisamos o aplicativo de uma forma geral. É feito um estudo de mercado para sabermos quais as melhores características de um aplicativo inovador.
			  Em alguns casos, inquéritos poderão ser conduzidos para se saber com mais precisão o que é que o público alvo gostaria de consumir.
              </p>
          </div>
         <img class="item col-md-6 " src='{% static "img/IMD2.png" %}' alt="Smiley face">
        </div>

        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-settings">
          <img class="item col-md-6 " src='{% static "img/IMD2.png" %}' alt="Smiley face">
          <div class="item col-md-6">
              <h3 class="h2 press-title">Desenvolvimento do Aplicativo <span class="border"></span></h3>
              <p>Nesta fase analisamos o aplicativo de uma forma geral. É feito um estudo de mercado para sabermos quais as melhores características de um aplicativo inovador.
					Em alguns casos, inquéritos poderão ser conduzidos para se saber com mais precisão o que é que o público alvo gostaria de consumir.
              </p>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-p5" role="tabpanel" aria-labelledby="v-p5">
                  <div class="item col-md-6">
                      <h3 class="h2 press-title">Testes do Aplicativo
                          <span class="border"></span>
                      </h3>
                      <p>Nesta fase analisamos o aplicativo de uma forma geral. É feito um estudo de mercado para sabermos quais as melhores características de um aplicativo inovador.
					  Em alguns casos, inquéritos poderão ser conduzidos para se saber com mais precisão o que é que o público alvo gostaria de consumir.
                      </p>
                  </div>
            <img class="item col-md-6 " src='{% static "img/IMD2.png" %}' alt="Smiley face" >
        </div>
    </div>

</div>
</div>
{% endblock %}
